@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/GothamBook_1.ttf');
}


@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/GothamMedium_4.ttf');
}

@font-face {
  font-family: 'Druk-Bold';
  src: url('../fonts/Druk-Bold.otf') format('opentype');
}