@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.otf') format("opentype");
}


@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium.otf') format("opentype");
}

@font-face {
  font-family: 'Druk-Bold';
  src: url('../fonts/Druk-Bold.otf') format('opentype');
}